<html>
<head>
    <title>{% block title %}MISSING TITLE{% endblock %}</title>
    <script src="/static/react-0.8.0.js"></script>
    <script src="/static/JSXTransformer-0.8.0.js"></script>
    <script src="/static/kinvey-html5-1.1.4.min.js"></script>
    <script src="/static/foo.js"></script>
    <script type="text/jsx" src="/static/test.jsx"></script>
</head>
<body>

{% block main %}
{% endblock %}

</body>
</html>
