{% extends "main.html" %}

{% block content %}

<div id="content">
</div>

<script type="text/jsx">
/**
 * @jsx React.DOM
 */
React.renderComponent(
  <PhotoList />,
  document.getElementById('content')
); 
</script>

<script>
    init_kinvey( handle_kinvey_initialized );
</script>


{% endblock %}
