{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block main %}
<h1>Sexygram | Search | Options</h1>

{% block content %}
{% endblock %}

<hr />

<a href="/">
Home 
</a>
|
<a href="/explore">
Explore
</a>
|
<a href="/camera">
Camera
</a>
|
<a href="/news">
News
</a>
|
<a href="/profile">
Profile
</a>
<br/>


{% endblock %}
