{% extends "main.html" %}

{% block content %}

PROFILE
<br/>
(profile image )
<br/>
Number of posts | Num followers | Num following
<br/>
Edit your profile button
<br/>
<br/>
Row of four tab buttons:
<br/>
3x3 grid | 3 horz lines | Location tag | photos of you
<br/>
Different views of photos or something, I dunno.


{% endblock %}
